@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300&display=swap');
*{
   margin:0;
   padding:0; 
}





    .container{
        background: url();
        height: 150vh;
        width: 2000px;
        background-size: 100% 100%;
        background-color: #C0C0C0;
    }

    .container .navbar{
        width:100%;
        height:200px;
        background:rgba(69, 74, 80, 0.8)
    }

    .navbar .logo{
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
    }

    .navbar .logo a{
        margin-left: 600px;
        text-decoration: none;
        font-size: 120px;
        font-family: 'Alex Brush', cursive;
        color:black;
    }

    .navbar .logo3{
        display: inline-block;
        margin-left: 10px;
        margin-top: -60px;
    }

    .navbar .logo3 a{
        margin-left: 650px;
        margin-top: -50px;
        text-decoration: none;
        font-size: 40px;
        font-family: Roboto;
        color:black;
    }

    
    